
.navBar {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
  }

  .navBar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navBar a:hover {
    color: #118B63;
  }
  
  .container{
      margin: 5%;
  }
  .eventCard{
      border:  0.1px solid black;
      margin: 20px;
  }

  .eventTitle{
    font-weight: bold;
    font-size: large;
    border-bottom: 0.1px solid black;
  }