.button{
  border-radius: 4px;
  background-color: white;
  color:#118B63;
  border: 1px solid #118B63;
  padding: 5px;
  margin: 2px;
  opacity: 1;
  transition: 0.7s;
}
.button:hover{ 
  background-color: #118B63;
  color:white;
  opacity: 1;
}
.navBar {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
  }

  .navBar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navBar a:hover {
    color: #118B63;
  }
  
  .container{
      margin: 5%;
  }
  .eventCard{
      border:  0.1px solid black;
      margin: 20px;
  }

  .eventTitle{
    font-weight: bold;
    font-size: large;
    border-bottom: 0.1px solid black;
  }

  .inputField{
    width: 50%;
    padding: 5px;
    margin: 2px;
    border-radius: 4px;
    background-color: #f2f6f8;
    border:0px;
  }
  .inputField:hover{
    border-color: #118B63;
  }